html {
    background-color: darkorange;
    }

.align-center {
    text-align: center;
    }

h1, h3 {
    text-decoration: underline;
    }

body {
    font-family: 'ZCOOL KuaiLe', cursive;
    }

.veg, .size, .toppings:hover {
    cursor: pointer;
    }

#menuBG {
    background-color: rgb(165, 153, 144);
    border: 1px solid black;
    border-radius: 2%;
    width: 600px;
    height: auto;
    margin: 10px auto;
    }

#frmMenu {
    width: 600px;
    height: auto;
    }

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
    }

.left {
    width: 200px;
    height: 200px;
    float: left;
    }

.center {
    width: 200px;
    height: 200px;
    float: left;
    }

.right {
    width: 200px;
    height: 200px;
    float: right;
    }

#showText {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: left;
    }  

#cart {
    top: 0; margin: 0px auto;
    width: 400px;
    height: 200px;
    }

#btnOrder {
    font-family: 'Suez One', serif;
    border: 1px solid black;
    border-radius: 10%;
    display: block;
    margin: auto;
    width: 100px;
    height: 40px;
    } 
    
#btnOrder:hover {
    cursor: pointer;
    background-color: darkorange;
    color: white;
    }